configuration/cascading/other flow with cascading NLC.txt
[{"id":"832208b1.2812f8","type":"function","z":"72ba1290.c0ccdc","name":"init","func":"//handle cases where content is html or if content email is > 1024 characters\nif(!msg.payload){\n    if(msg.html) {\n        msg.payload = msg.html;\n        msg.body = msg.payload; // for reporting\n        \n    }\n    else msg.payload= \"conseiller\";\n} \nelse{\n    if(msg.payload.length >1024){\n        msg.payload=\"conseiller\";\n        msg.body = \"mail > 1024 characters\";\n        \n    } else{\n        msg.body = msg.payload; // for reporting\n    }\n}\n\nmsg.report = {\n    intention: [],\n    confidence: [],\n    date: msg.date,\n    from: msg.from,\n    object: msg.topic,\n    body: msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":116.79768085479736,"wires":[["c9f649c3.fd49e8"]]},{"id":"322cfbbc.9f7a94","type":"function","z":"72ba1290.c0ccdc","name":"interpreter","func":"if(!msg.payload.top_class){ //something went wrong\n    msg.report.intention[0] = \"ERROR\";\n    msg.report.confidence[0] = \"ERROR\";\n}\nelse{\n    if(msg.report.intention.length>0){//went through the multi-cascading NLC\n        msg.report.intention.shift();\n        msg.report.intention.unshift(msg.payload.top_class);\n    }\n    else{\n        msg.report.intention[0]=msg.payload.top_class;\n        for(var i=0;i<msg.payload.classes.length;i++){\n            if(msg.payload.classes[i].class_name === msg.payload.top_class){\n                msg.report.confidence[0] = msg.payload.classes[i].confidence;\n            }\n            else if(msg.payload.classes[i].confidence >0.1){\n              msg.report.intention.push(msg.payload.classes[i].class_name);\n              msg.report.confidence.push(msg.payload.classes[i].confidence);\n            }\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":243.21421432495117,"y":466.21427154541016,"wires":[["eff768ba.aaa2a8"]]},{"id":"5ce48bef.506314","type":"cloudant out","z":"72ba1290.c0ccdc","name":"database","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"insert","x":814.1072387695312,"y":838.8214721679688,"wires":[]},{"id":"f5799c90.70402","type":"template","z":"72ba1290.c0ccdc","name":"virement","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Virement","x":734.4762802124023,"y":481.79764302571607,"wires":[["1b2e2657.35da3a","6a31d44.703442c","5366103f.6eb3"]]},{"id":"6743479b.e70b68","type":"template","z":"72ba1290.c0ccdc","name":"rendez-vous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Prise de Rendez-vous","x":743.4762802124023,"y":538.7976430257161,"wires":[["447ae4f0.8bc05c","6a31d44.703442c","5366103f.6eb3"]]},{"id":"b618230.0b16ee","type":"template","z":"72ba1290.c0ccdc","name":"seuil CB","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Plafonnement CB","x":734.7262878417969,"y":600.5476482709248,"wires":[["1b2e2657.35da3a","6a31d44.703442c","5366103f.6eb3"]]},{"id":"5324c169.2c1b3","type":"template","z":"72ba1290.c0ccdc","name":"new CB ou chequier","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"demande nouveau CB ou chequier","x":775.4762878417969,"y":660.297648747762,"wires":[["447ae4f0.8bc05c","6a31d44.703442c","5366103f.6eb3"]]},{"id":"b8c2352c.c92938","type":"template","z":"72ba1290.c0ccdc","name":"releve de compte","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"relevé de compte","x":765.7262878417969,"y":720.7976497014363,"wires":[["447ae4f0.8bc05c","6a31d44.703442c","5366103f.6eb3"]]},{"id":"524edc5.384f724","type":"template","z":"72ba1290.c0ccdc","name":"mise-a-jour profile","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mise-a-jour profile","x":766.9762954711914,"y":777.7976601918538,"wires":[["447ae4f0.8bc05c","6a31d44.703442c","5366103f.6eb3"]]},{"id":"9342ef6d.8875a","type":"template","z":"72ba1290.c0ccdc","name":"conseiller","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"conseiller","x":735.4762802124023,"y":432.79764302571607,"wires":[["6a31d44.703442c","7e9008e1.73de38"]]},{"id":"600c4c19.50f3e4","type":"switch","z":"72ba1290.c0ccdc","name":"switch 2","property":"payload.decision","propertyType":"msg","rules":[{"t":"eq","v":"conseiller","vt":"str"},{"t":"eq","v":"virement","vt":"str"},{"t":"eq","v":"rendez-vous","vt":"str"},{"t":"eq","v":"deplafonnementCB","vt":"str"},{"t":"eq","v":"nouveauCB_chequier","vt":"str"},{"t":"eq","v":"releve_compte","vt":"str"},{"t":"eq","v":"updateProfile","vt":"str"},{"t":"eq","v":"compte_gestion","vt":"str"},{"t":"eq","v":"mode_paiement_gestion","vt":"str"}],"checkall":"false","outputs":9,"x":501.7976989746094,"y":537.4405212402344,"wires":[["9342ef6d.8875a","1249c67d.b0851a"],["f5799c90.70402","1249c67d.b0851a"],["6743479b.e70b68","1249c67d.b0851a"],["b618230.0b16ee","1249c67d.b0851a"],["5324c169.2c1b3","1249c67d.b0851a"],["b8c2352c.c92938","1249c67d.b0851a"],["524edc5.384f724","1249c67d.b0851a"],["95b4c08c.df8fc"],["243dfd45.d1e152"]]},{"id":"1b2e2657.35da3a","type":"function","z":"72ba1290.c0ccdc","name":"transfert siege URGENT","func":"if(msg.topic===undefined){\n    msg.topic=\"\";\n}\nmsg.topic = msg.topic + ' --- A traiter IMMEDIATEMENT --- ' + msg.payload;\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":1146.6430282592773,"y":528.0476735432942,"wires":[["29d324ee.4a63fc"]]},{"id":"447ae4f0.8bc05c","type":"function","z":"72ba1290.c0ccdc","name":"transfert siege","func":"if(msg.topic===undefined){\n    msg.topic=\"\";\n}\nmsg.topic = msg.topic + ' --- A traiter ce jour --- ' + msg.payload;\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":1122.2262802124023,"y":590.5476430257161,"wires":[[]]},{"id":"6a31d44.703442c","type":"debug","z":"72ba1290.c0ccdc","name":"debug","active":true,"console":"true","complete":"payload","x":1101.8930282592773,"y":777.0476430257161,"wires":[]},{"id":"4434a118.7fd0d","type":"http in","z":"72ba1290.c0ccdc","name":"httpIn","url":"/reporting","method":"get","swaggerDoc":"","x":168.97628593444824,"y":947.690507888794,"wires":[["4425ce96.d6849"]]},{"id":"434ef012.b509a","type":"http in","z":"72ba1290.c0ccdc","name":"httpIn","url":"/api/v1/db","method":"delete","swaggerDoc":"","x":168.97630310058594,"y":1074.1072244644165,"wires":[["25db9987.0e2336","9f928444.f24b78"]]},{"id":"44d2e88f.678d18","type":"cloudant out","z":"72ba1290.c0ccdc","name":"clear DB","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"delete","x":697.7263031005859,"y":1072.6072244644165,"wires":[]},{"id":"4425ce96.d6849","type":"cloudant in","z":"72ba1290.c0ccdc","name":"reporting NLC","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":351.47628593444824,"y":947.690507888794,"wires":[["2f3565db.ffb8ea"]]},{"id":"2f3565db.ffb8ea","type":"function","z":"72ba1290.c0ccdc","name":"filter","func":"var docs = msg.payload;\nvar counters = {\n    cEmails: 0,\n    cVirement:0,\n    avgVirementConfidence:0,\n    cPriseRDV:0,\n    avgPriseRDVConfidence:0,\n    cSeuilCB:0,\n    avgSeuilCBConfidence:0,\n    cNewCB:0,\n    avgNewCBConfidence:0,\n    cReleveCompte:0,\n    avgReleveCompteConfidence:0,\n    cUpdateProfile:0,\n    avgUpdateProfileConfidence:0,\n    cUndetermined:0,\n    avgUndeterminedConfidence:0\n};\nvar avgVirement=0, avgPriseRDV=0,avgSeuilCB=0, avgNewCB=0, avgReleveCompte=0, avgUpdateProfile=0, avgUndetermined=0;\n\ncounters.cEmails = docs.length;\n\nfor (var i=0;i<docs.length;i++){\n    if(docs[i].decision===\"virement\"){\n        counters.cVirement++;\n        avgVirement=avgVirement+docs[i].confidence[0];\n    }\n    else if(docs[i].decision===\"rendez-vous\"){\n        counters.cPriseRDV++;\n        avgPriseRDV=avgPriseRDV+docs[i].confidence[0];\n    }\n    else if(docs[i].decision===\"deplafonnementCB\"){\n        counters.cSeuilCB++;\n        avgSeuilCB=avgSeuilCB+docs[i].confidence[0];\n    }\n    else if(docs[i].decision===\"nouveauCB_chequier\"){\n        counters.cNewCB++;\n        avgNewCB=avgNewCB+docs[i].confidence[0];\n    }\n    else if(docs[i].decision===\"releve_compte\"){\n        counters.cReleveCompte++;\n        avgReleveCompte=avgReleveCompte+docs[i].confidence[0];\n    }\n    else if(docs[i].decision===\"updateProfile\"){\n        counters.cUpdateProfile++;\n        avgUpdateProfile=avgUpdateProfile+docs[i].confidence[0];\n    }\n    else if(docs[i].decision === \"conseiller\"){\n        counters.cUndetermined++;\n        avgUndetermined=avgUndetermined+docs[i].confidence[0];\n    }\n}\nif(counters.cVirement !== 0){\n    counters.avgVirementConfidence = Math.round((avgVirement/counters.cVirement)*100)/100;\n}\nif(counters.cPriseRDV !== 0){\n    counters.avgPriseRDVConfidence = Math.round((avgPriseRDV/counters.cPriseRDV)*100)/100;\n}\nif(counters.cSeuilCB !== 0){\n    counters.avgSeuilCBConfidence = Math.round((avgSeuilCB/counters.cSeuilCB)*100)/100;\n}\nif(counters.cNewCB !== 0){\n    counters.avgNewCBConfidence = Math.round((avgNewCB/counters.cNewCB)*100)/100;\n}\nif(counters.cReleveCompte !== 0){\n    counters.avgReleveCompteConfidence = Math.round((avgReleveCompte/counters.cReleveCompte)*100)/100;\n}\nif(counters.cUpdateProfile!== 0){\n    counters.avgUpdateProfileConfidence = Math.round((avgUpdateProfile/counters.cUpdateProfile)*100)/100;\n}\nif(counters.cUndetermined!== 0){\n    counters.avgUndeterminedConfidence = Math.round((avgUndetermined/counters.cUndetermined)*100)/100;\n}\n\nmsg.counters = counters;\nreturn msg;","outputs":1,"noerr":0,"x":518.9762859344482,"y":946.9405071735382,"wires":[["fa5f9bd4.7a6fa8"]]},{"id":"18c0df5b.cebf71","type":"split","z":"72ba1290.c0ccdc","name":"","splt":"","x":521.4763031005859,"y":1073.1072244644165,"wires":[["44d2e88f.678d18"]]},{"id":"25db9987.0e2336","type":"cloudant in","z":"72ba1290.c0ccdc","name":"reporting NLC","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":353.9762992858887,"y":1073.3572244644165,"wires":[["18c0df5b.cebf71"]]},{"id":"fa5f9bd4.7a6fa8","type":"template","z":"72ba1290.c0ccdc","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Reporting</title>\n        <meta charset=\"utf-8\" />\n    \t\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    \t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n\n    \t\t<!-- Latest compiled and minified CSS -->\n    \t\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" integrity=\"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7\" crossorigin=\"anonymous\">\n    </head>\n    <body>\n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Compteurs de Volumétrie</span></h2>\n        </div>\n        <div class=\"panel-body\">\n          {{#counters}}\n          <h4># total emails traités : {{cEmails}}</h4>\n        </div>\n        <table class=\"table table-hover\">\n          <thead>\n            <tr>\n              <th></th>\n              <th>Virement</th>\n              <th>Prise de RDV</th>\n              <th>Relevement seuil CB</th>\n              <th>Commande Chéquier ou CB</th>\n              <th>Relevé de Compte</th>\n              <th>Mise-a-jour Profile</th>\n              <th><span style=\"color:blue\"><b>Conseiller</b></span></th>\n            </tr>\n          </thead>\n          <tbody>\n            <tr>\n              <td><b>#emails</b></td>\n              <td>{{cVirement}}</td>\n              <td>{{cPriseRDV}}</td>\n              <td>{{cSeuilCB}}</td>\n              <td>{{cNewCB}}</td>\n              <td>{{cReleveCompte}}</td>\n              <td>{{cUpdateProfile}}</td>\n              <td style=\"color:blue\">{{cUndetermined}}</td>\n            </tr>\n            <tr>\n              <td><b>Confidence Moyenne</b></td>\n              <td>{{avgVirementConfidence}}</td>\n              <td>{{avgPriseRDVConfidence}}</td>\n              <td>{{avgSeuilCBConfidence}}</td>\n              <td>{{avgNewCBConfidence}}</td>\n              <td>{{avgReleveCompteConfidence}}</td>\n              <td>{{avgUpdateProfileConfidence}}</td>\n              <td style=\"color:blue\">{{avgUndeterminedConfidence}}</td>\n            </tr>\n          </tbody>\n        </table>\n        {{/counters}}\n      </div>\n      <br/><br/>\n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Reporting Emails Traités</span></h2>\n        </div>\n        <div class=\"panel-body\"></div>\n          <table class=\"table table-hover\">\n            <thead>\n              <tr>\n                <th class=\"col-md-1\">Date</th>\n                <th class=\"col-md-1\">From</th>\n                <th class=\"col-md-1\">Object</th>\n                <th class=\"col-md-1\">Intentions</th>\n                <th class=\"col-md-1\">Confidence</th>\n                <th class=\"col-md-1\">Decision</th>\n                <th class=\"col-md-7\">Contenu Email</th>\n              </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr>\n                <td>{{date}}</td>\n                <td>{{from}}</td>\n                <td>{{object}}</td>\n                <td>{{intention}}</td>\n                <td>{{confidence}}</td>\n                <td>{{decision}}</td>\n                <td>{{body}}</td>\n              </tr>\n              {{/payload}}\n            </tbody>\n          </table>\n      </div>\n      \n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Reporting Clients Insatisfaction</span></h2>\n        </div>\n        <div class=\"panel-body\"></div>\n          <table class=\"table table-hover\" >\n            <thead>\n              <tr>\n                <th class=\"col-md-1\">Date</th>\n                <th class=\"col-md-1\">From</th>\n                <th class=\"col-md-1\">Object</th>\n                <th class=\"col-md-1\">Colère</th>\n                <th class=\"col-md-8\">Contenu Email</th>\n              </tr>\n            </thead>\n            <tbody id=\"tone-table\">\n            </tbody>\n          </table>\n      </div>\n      \n      <br/> <br/>\n      <div style=\"margin-left: 10px\">\n          <button type=\"button\" class=\"btn btn-danger\" onclick=\"clearDB()\">Supprimer les données</button>\n      </div>\n    </body>\n    <!-- Latest compiled and minified JavaScript -->\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js\"></script>\n\t<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\" integrity=\"sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS\" crossorigin=\"anonymous\"></script>\n    <script>\n       \n        function clearDB(){\n            var xhr = new XMLHttpRequest();\n            xhr.onreadystatechange = function() {\n                if (xhr.readyState == 4 && xhr.status == 200) {\n                    location.reload();\n                }\n            };\n            xhr.open(\"DELETE\", \"/api/v1/db\",true);\n            xhr.send();\n        }\n        \n        function clientsUnsatisfied(){\n            var xhr = new XMLHttpRequest();\n            xhr.onreadystatechange = function() {\n                if (xhr.readyState == 4 && xhr.status == 200) {\n                    var items = JSON.parse(xhr.response);\n                    var thbody = document.getElementById('tone-table');\n                    for (var i = 1; i < items.length; i++){\n                        var tr = document.createElement('tr');   \n            \n                        var date = document.createElement('td');\n                        var from = document.createElement('td');\n                        var object = document.createElement('td');\n                        var score = document.createElement('td');\n                        var body = document.createElement('td');\n            \n                        var textDate = document.createTextNode(items[i].date);\n                        var textFrom = document.createTextNode(items[i].from);\n                        var textObject = document.createTextNode(items[i].object);\n                        var textScore = document.createTextNode(items[i].score);\n                        var textBody = document.createTextNode(items[i].body);\n                        \n                        date.appendChild(textDate);\n                        from.appendChild(textFrom);\n                        object.appendChild(textObject);\n                        score.appendChild(textScore);\n                        body.appendChild(textBody);\n                        \n                        tr.appendChild(date);\n                        tr.appendChild(from);\n                        tr.appendChild(object);\n                        tr.appendChild(score);\n                        tr.appendChild(body);\n                        \n                        thbody.appendChild(tr);\n                    }\n                }\n            };\n            xhr.open(\"GET\", \"/api/v1/tone\",true);\n            xhr.send();\n        }\n        clientsUnsatisfied();\n        \n    </script>    \n</html>\n","x":676.4762859344482,"y":946.1905069351196,"wires":[["acbe66a9.349548"]]},{"id":"acbe66a9.349548","type":"http response","z":"72ba1290.c0ccdc","name":"httpOut","x":847.7262897491455,"y":945.940507888794,"wires":[]},{"id":"5366103f.6eb3","type":"template","z":"72ba1290.c0ccdc","name":"siege","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"triage","x":1088.9762802124023,"y":480.38098653157545,"wires":[["7e9008e1.73de38"]]},{"id":"c9f649c3.fd49e8","type":"switch","z":"72ba1290.c0ccdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"conseiller","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":477.6190299987793,"y":117.13098526000977,"wires":[["9342ef6d.8875a"],["7ae75203.03521c"]]},{"id":"7ae75203.03521c","type":"function","z":"72ba1290.c0ccdc","name":"cleanup","func":"\nvar str = msg.payload.toLowerCase();\nvar defaultDiacriticsRemovalMap = [\n    {'base':'A', 'letters':'\\u0041\\u24B6\\uFF21\\u00C0\\u00C1\\u00C2\\u1EA6\\u1EA4\\u1EAA\\u1EA8\\u00C3\\u0100\\u0102\\u1EB0\\u1EAE\\u1EB4\\u1EB2\\u0226\\u01E0\\u00C4\\u01DE\\u1EA2\\u00C5\\u01FA\\u01CD\\u0200\\u0202\\u1EA0\\u1EAC\\u1EB6\\u1E00\\u0104\\u023A\\u2C6F'},\n    {'base':'AA','letters':'\\uA732'},\n    {'base':'AE','letters':'\\u00C6\\u01FC\\u01E2'},\n    {'base':'AO','letters':'\\uA734'},\n    {'base':'AU','letters':'\\uA736'},\n    {'base':'AV','letters':'\\uA738\\uA73A'},\n    {'base':'AY','letters':'\\uA73C'},\n    {'base':'B', 'letters':'\\u0042\\u24B7\\uFF22\\u1E02\\u1E04\\u1E06\\u0243\\u0182\\u0181'},\n    {'base':'C', 'letters':'\\u0043\\u24B8\\uFF23\\u0106\\u0108\\u010A\\u010C\\u00C7\\u1E08\\u0187\\u023B\\uA73E'},\n    {'base':'D', 'letters':'\\u0044\\u24B9\\uFF24\\u1E0A\\u010E\\u1E0C\\u1E10\\u1E12\\u1E0E\\u0110\\u018B\\u018A\\u0189\\uA779'},\n    {'base':'DZ','letters':'\\u01F1\\u01C4'},\n    {'base':'Dz','letters':'\\u01F2\\u01C5'},\n    {'base':'E', 'letters':'\\u0045\\u24BA\\uFF25\\u00C8\\u00C9\\u00CA\\u1EC0\\u1EBE\\u1EC4\\u1EC2\\u1EBC\\u0112\\u1E14\\u1E16\\u0114\\u0116\\u00CB\\u1EBA\\u011A\\u0204\\u0206\\u1EB8\\u1EC6\\u0228\\u1E1C\\u0118\\u1E18\\u1E1A\\u0190\\u018E'},\n    {'base':'F', 'letters':'\\u0046\\u24BB\\uFF26\\u1E1E\\u0191\\uA77B'},\n    {'base':'G', 'letters':'\\u0047\\u24BC\\uFF27\\u01F4\\u011C\\u1E20\\u011E\\u0120\\u01E6\\u0122\\u01E4\\u0193\\uA7A0\\uA77D\\uA77E'},\n    {'base':'H', 'letters':'\\u0048\\u24BD\\uFF28\\u0124\\u1E22\\u1E26\\u021E\\u1E24\\u1E28\\u1E2A\\u0126\\u2C67\\u2C75\\uA78D'},\n    {'base':'I', 'letters':'\\u0049\\u24BE\\uFF29\\u00CC\\u00CD\\u00CE\\u0128\\u012A\\u012C\\u0130\\u00CF\\u1E2E\\u1EC8\\u01CF\\u0208\\u020A\\u1ECA\\u012E\\u1E2C\\u0197'},\n    {'base':'J', 'letters':'\\u004A\\u24BF\\uFF2A\\u0134\\u0248'},\n    {'base':'K', 'letters':'\\u004B\\u24C0\\uFF2B\\u1E30\\u01E8\\u1E32\\u0136\\u1E34\\u0198\\u2C69\\uA740\\uA742\\uA744\\uA7A2'},\n    {'base':'L', 'letters':'\\u004C\\u24C1\\uFF2C\\u013F\\u0139\\u013D\\u1E36\\u1E38\\u013B\\u1E3C\\u1E3A\\u0141\\u023D\\u2C62\\u2C60\\uA748\\uA746\\uA780'},\n    {'base':'LJ','letters':'\\u01C7'},\n    {'base':'Lj','letters':'\\u01C8'},\n    {'base':'M', 'letters':'\\u004D\\u24C2\\uFF2D\\u1E3E\\u1E40\\u1E42\\u2C6E\\u019C'},\n    {'base':'N', 'letters':'\\u004E\\u24C3\\uFF2E\\u01F8\\u0143\\u00D1\\u1E44\\u0147\\u1E46\\u0145\\u1E4A\\u1E48\\u0220\\u019D\\uA790\\uA7A4'},\n    {'base':'NJ','letters':'\\u01CA'},\n    {'base':'Nj','letters':'\\u01CB'},\n    {'base':'O', 'letters':'\\u004F\\u24C4\\uFF2F\\u00D2\\u00D3\\u00D4\\u1ED2\\u1ED0\\u1ED6\\u1ED4\\u00D5\\u1E4C\\u022C\\u1E4E\\u014C\\u1E50\\u1E52\\u014E\\u022E\\u0230\\u00D6\\u022A\\u1ECE\\u0150\\u01D1\\u020C\\u020E\\u01A0\\u1EDC\\u1EDA\\u1EE0\\u1EDE\\u1EE2\\u1ECC\\u1ED8\\u01EA\\u01EC\\u00D8\\u01FE\\u0186\\u019F\\uA74A\\uA74C'},\n    {'base':'OI','letters':'\\u01A2'},\n    {'base':'OO','letters':'\\uA74E'},\n    {'base':'OU','letters':'\\u0222'},\n    {'base':'OE','letters':'\\u008C\\u0152'},\n    {'base':'oe','letters':'\\u009C\\u0153'},\n    {'base':'P', 'letters':'\\u0050\\u24C5\\uFF30\\u1E54\\u1E56\\u01A4\\u2C63\\uA750\\uA752\\uA754'},\n    {'base':'Q', 'letters':'\\u0051\\u24C6\\uFF31\\uA756\\uA758\\u024A'},\n    {'base':'R', 'letters':'\\u0052\\u24C7\\uFF32\\u0154\\u1E58\\u0158\\u0210\\u0212\\u1E5A\\u1E5C\\u0156\\u1E5E\\u024C\\u2C64\\uA75A\\uA7A6\\uA782'},\n    {'base':'S', 'letters':'\\u0053\\u24C8\\uFF33\\u1E9E\\u015A\\u1E64\\u015C\\u1E60\\u0160\\u1E66\\u1E62\\u1E68\\u0218\\u015E\\u2C7E\\uA7A8\\uA784'},\n    {'base':'T', 'letters':'\\u0054\\u24C9\\uFF34\\u1E6A\\u0164\\u1E6C\\u021A\\u0162\\u1E70\\u1E6E\\u0166\\u01AC\\u01AE\\u023E\\uA786'},\n    {'base':'TZ','letters':'\\uA728'},\n    {'base':'U', 'letters':'\\u0055\\u24CA\\uFF35\\u00D9\\u00DA\\u00DB\\u0168\\u1E78\\u016A\\u1E7A\\u016C\\u00DC\\u01DB\\u01D7\\u01D5\\u01D9\\u1EE6\\u016E\\u0170\\u01D3\\u0214\\u0216\\u01AF\\u1EEA\\u1EE8\\u1EEE\\u1EEC\\u1EF0\\u1EE4\\u1E72\\u0172\\u1E76\\u1E74\\u0244'},\n    {'base':'V', 'letters':'\\u0056\\u24CB\\uFF36\\u1E7C\\u1E7E\\u01B2\\uA75E\\u0245'},\n    {'base':'VY','letters':'\\uA760'},\n    {'base':'W', 'letters':'\\u0057\\u24CC\\uFF37\\u1E80\\u1E82\\u0174\\u1E86\\u1E84\\u1E88\\u2C72'},\n    {'base':'X', 'letters':'\\u0058\\u24CD\\uFF38\\u1E8A\\u1E8C'},\n    {'base':'Y', 'letters':'\\u0059\\u24CE\\uFF39\\u1EF2\\u00DD\\u0176\\u1EF8\\u0232\\u1E8E\\u0178\\u1EF6\\u1EF4\\u01B3\\u024E\\u1EFE'},\n    {'base':'Z', 'letters':'\\u005A\\u24CF\\uFF3A\\u0179\\u1E90\\u017B\\u017D\\u1E92\\u1E94\\u01B5\\u0224\\u2C7F\\u2C6B\\uA762'},\n    {'base':'a', 'letters':'\\u0061\\u24D0\\uFF41\\u1E9A\\u00E0\\u00E1\\u00E2\\u1EA7\\u1EA5\\u1EAB\\u1EA9\\u00E3\\u0101\\u0103\\u1EB1\\u1EAF\\u1EB5\\u1EB3\\u0227\\u01E1\\u00E4\\u01DF\\u1EA3\\u00E5\\u01FB\\u01CE\\u0201\\u0203\\u1EA1\\u1EAD\\u1EB7\\u1E01\\u0105\\u2C65\\u0250'},\n    {'base':'aa','letters':'\\uA733'},\n    {'base':'ae','letters':'\\u00E6\\u01FD\\u01E3'},\n    {'base':'ao','letters':'\\uA735'},\n    {'base':'au','letters':'\\uA737'},\n    {'base':'av','letters':'\\uA739\\uA73B'},\n    {'base':'ay','letters':'\\uA73D'},\n    {'base':'b', 'letters':'\\u0062\\u24D1\\uFF42\\u1E03\\u1E05\\u1E07\\u0180\\u0183\\u0253'},\n    {'base':'c', 'letters':'\\u0063\\u24D2\\uFF43\\u0107\\u0109\\u010B\\u010D\\u00E7\\u1E09\\u0188\\u023C\\uA73F\\u2184'},\n    {'base':'d', 'letters':'\\u0064\\u24D3\\uFF44\\u1E0B\\u010F\\u1E0D\\u1E11\\u1E13\\u1E0F\\u0111\\u018C\\u0256\\u0257\\uA77A'},\n    {'base':'dz','letters':'\\u01F3\\u01C6'},\n    {'base':'e', 'letters':'\\u0065\\u24D4\\uFF45\\u00E8\\u00E9\\u00EA\\u1EC1\\u1EBF\\u1EC5\\u1EC3\\u1EBD\\u0113\\u1E15\\u1E17\\u0115\\u0117\\u00EB\\u1EBB\\u011B\\u0205\\u0207\\u1EB9\\u1EC7\\u0229\\u1E1D\\u0119\\u1E19\\u1E1B\\u0247\\u025B\\u01DD'},\n    {'base':'f', 'letters':'\\u0066\\u24D5\\uFF46\\u1E1F\\u0192\\uA77C'},\n    {'base':'g', 'letters':'\\u0067\\u24D6\\uFF47\\u01F5\\u011D\\u1E21\\u011F\\u0121\\u01E7\\u0123\\u01E5\\u0260\\uA7A1\\u1D79\\uA77F'},\n    {'base':'h', 'letters':'\\u0068\\u24D7\\uFF48\\u0125\\u1E23\\u1E27\\u021F\\u1E25\\u1E29\\u1E2B\\u1E96\\u0127\\u2C68\\u2C76\\u0265'},\n    {'base':'hv','letters':'\\u0195'},\n    {'base':'i', 'letters':'\\u0069\\u24D8\\uFF49\\u00EC\\u00ED\\u00EE\\u0129\\u012B\\u012D\\u00EF\\u1E2F\\u1EC9\\u01D0\\u0209\\u020B\\u1ECB\\u012F\\u1E2D\\u0268\\u0131'},\n    {'base':'j', 'letters':'\\u006A\\u24D9\\uFF4A\\u0135\\u01F0\\u0249'},\n    {'base':'k', 'letters':'\\u006B\\u24DA\\uFF4B\\u1E31\\u01E9\\u1E33\\u0137\\u1E35\\u0199\\u2C6A\\uA741\\uA743\\uA745\\uA7A3'},\n    {'base':'l', 'letters':'\\u006C\\u24DB\\uFF4C\\u0140\\u013A\\u013E\\u1E37\\u1E39\\u013C\\u1E3D\\u1E3B\\u017F\\u0142\\u019A\\u026B\\u2C61\\uA749\\uA781\\uA747'},\n    {'base':'lj','letters':'\\u01C9'},\n    {'base':'m', 'letters':'\\u006D\\u24DC\\uFF4D\\u1E3F\\u1E41\\u1E43\\u0271\\u026F'},\n    {'base':'n', 'letters':'\\u006E\\u24DD\\uFF4E\\u01F9\\u0144\\u00F1\\u1E45\\u0148\\u1E47\\u0146\\u1E4B\\u1E49\\u019E\\u0272\\u0149\\uA791\\uA7A5'},\n    {'base':'nj','letters':'\\u01CC'},\n    {'base':'o', 'letters':'\\u006F\\u24DE\\uFF4F\\u00F2\\u00F3\\u00F4\\u1ED3\\u1ED1\\u1ED7\\u1ED5\\u00F5\\u1E4D\\u022D\\u1E4F\\u014D\\u1E51\\u1E53\\u014F\\u022F\\u0231\\u00F6\\u022B\\u1ECF\\u0151\\u01D2\\u020D\\u020F\\u01A1\\u1EDD\\u1EDB\\u1EE1\\u1EDF\\u1EE3\\u1ECD\\u1ED9\\u01EB\\u01ED\\u00F8\\u01FF\\u0254\\uA74B\\uA74D\\u0275'},\n    {'base':'oi','letters':'\\u01A3'},\n    {'base':'ou','letters':'\\u0223'},\n    {'base':'oo','letters':'\\uA74F'},\n    {'base':'p','letters':'\\u0070\\u24DF\\uFF50\\u1E55\\u1E57\\u01A5\\u1D7D\\uA751\\uA753\\uA755'},\n    {'base':'q','letters':'\\u0071\\u24E0\\uFF51\\u024B\\uA757\\uA759'},\n    {'base':'r','letters':'\\u0072\\u24E1\\uFF52\\u0155\\u1E59\\u0159\\u0211\\u0213\\u1E5B\\u1E5D\\u0157\\u1E5F\\u024D\\u027D\\uA75B\\uA7A7\\uA783'},\n    {'base':'s','letters':'\\u0073\\u24E2\\uFF53\\u00DF\\u015B\\u1E65\\u015D\\u1E61\\u0161\\u1E67\\u1E63\\u1E69\\u0219\\u015F\\u023F\\uA7A9\\uA785\\u1E9B'},\n    {'base':'t','letters':'\\u0074\\u24E3\\uFF54\\u1E6B\\u1E97\\u0165\\u1E6D\\u021B\\u0163\\u1E71\\u1E6F\\u0167\\u01AD\\u0288\\u2C66\\uA787'},\n    {'base':'tz','letters':'\\uA729'},\n    {'base':'u','letters': '\\u0075\\u24E4\\uFF55\\u00F9\\u00FA\\u00FB\\u0169\\u1E79\\u016B\\u1E7B\\u016D\\u00FC\\u01DC\\u01D8\\u01D6\\u01DA\\u1EE7\\u016F\\u0171\\u01D4\\u0215\\u0217\\u01B0\\u1EEB\\u1EE9\\u1EEF\\u1EED\\u1EF1\\u1EE5\\u1E73\\u0173\\u1E77\\u1E75\\u0289'},\n    {'base':'v','letters':'\\u0076\\u24E5\\uFF56\\u1E7D\\u1E7F\\u028B\\uA75F\\u028C'},\n    {'base':'vy','letters':'\\uA761'},\n    {'base':'w','letters':'\\u0077\\u24E6\\uFF57\\u1E81\\u1E83\\u0175\\u1E87\\u1E85\\u1E98\\u1E89\\u2C73'},\n    {'base':'x','letters':'\\u0078\\u24E7\\uFF58\\u1E8B\\u1E8D'},\n    {'base':'y','letters':'\\u0079\\u24E8\\uFF59\\u1EF3\\u00FD\\u0177\\u1EF9\\u0233\\u1E8F\\u00FF\\u1EF7\\u1E99\\u1EF5\\u01B4\\u024F\\u1EFF'},\n    {'base':'z','letters':'\\u007A\\u24E9\\uFF5A\\u017A\\u1E91\\u017C\\u017E\\u1E93\\u1E95\\u01B6\\u0225\\u0240\\u2C6C\\uA763'}\n];\n\nvar diacriticsMap = {};\nfor (var i=0; i < defaultDiacriticsRemovalMap.length; i++){\n    var letters = defaultDiacriticsRemovalMap[i].letters;\n    for (var j=0; j < letters.length ; j++){\n        diacriticsMap[letters[j]] = defaultDiacriticsRemovalMap [i].base;\n    }\n}\n\nfunction removeDiacritics() {\n    return str.replace(/[^\\u0000-\\u007E]/g, function(a){ \n       return diacriticsMap[a] || a; \n    });\n}    \n\n//delete all the accents\nstr = removeDiacritics();\n//delete all useless strings\nstr = str.replace('bonjour','');\nstr = str.replace('bonsoir','');\nstr = str.replace('hello','');\nstr = str.replace('hey','');\nstr = str.replace('salut','');\nstr = str.replace('monsieur','');\nstr = str.replace('madame','');\nstr = str.replace('salutations','');\nstr = str.replace('sinceres','');\nstr = str.replace('cordialement','');\nstr = str.replace('merci','');\nstr = str.replace('pour votre aide','');\nstr = str.replace('de votre aide','');\nstr = str.replace('de votre retour','');\nstr = str.replace('pour votre retour','');\nstr = str.replace('il vous plait','');\nstr = str.replace('pourriez-vous','');\nstr = str.replace('pouvez-vous','');\nstr = str.replace('pouvez vous','');\nstr = str.replace('pourriez vous','');\nstr = str.replace('je souhaite','');\nstr = str.replace('comment faire','');\nstr = str.replace('est ce que je peux','');\nstr = str.replace(\"je viens de m'apercevoir\",'');\n\nmsg.payload = str; //update the message payload with the clean string\nmsg.cleanup = str; // save the clean payload in a parameter if classifier 2 required\nreturn msg;","outputs":1,"noerr":0,"x":121.95241928100586,"y":203.3690938949585,"wires":[["c1f718dd.b0fc18"]]},{"id":"29d324ee.4a63fc","type":"e-mail","z":"72ba1290.c0ccdc","server":"smtp.gmail.com","port":"465","name":"limalicontact@gmail.com","dname":"Output Siege","x":1394.4762802124023,"y":527.7976608276367,"wires":[]},{"id":"22ffbee8.9b3b52","type":"switch","z":"72ba1290.c0ccdc","name":"switch","property":"payload.top_class","propertyType":"msg","rules":[{"t":"eq","v":"compte_gestion","vt":"str"},{"t":"eq","v":"mode_paiement_gestion","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":108.76200866699219,"y":294.54763555526733,"wires":[["ffdad1fb.6e013"],["e25d3d7a.6c7d4"],["322cfbbc.9f7a94"]]},{"id":"ffdad1fb.6e013","type":"function","z":"72ba1290.c0ccdc","name":"NLC2","func":"//identify if other classes and store the top class\nmsg.report.intention[0] = msg.payload.top_class;\nfor(var i=0;i<msg.payload.classes.length;i++){\n    if(msg.payload.classes[i].class_name === msg.payload.top_class){\n        msg.report.confidence[0] = msg.payload.classes[i].confidence;\n    }\n    else if(msg.payload.classes[i].confidence >0.1){\n        msg.report.intention.push(msg.payload.classes[i].class_name);\n        msg.report.confidence.push(msg.payload.classes[i].confidence);\n    }\n}\n\n//resend to the classifier the cleaned email body\nvar text = msg.cleanup;\nvar classifierID = \"33ffe6x85-nlc-1147\";\nvar url = \"https://gateway.watsonplatform.net/natural-language-classifier/api\";\n\n//prepare URL\nmsg.url = encodeURI(url +\"/v1/classifiers/\" \n    +classifierID \n    + \"/classify?text=\"+text);\n\nreturn msg;","outputs":1,"noerr":0,"x":311.5239601135254,"y":273.16673469543457,"wires":[["39dd86dd.78957a"]]},{"id":"82a0cf9.b56403","type":"cloudant in","z":"72ba1290.c0ccdc","name":"reporting Tone","cloudant":"","database":"reporting-tone","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":352.3096618652344,"y":1009.9405517578125,"wires":[["914ad5c5.5142a8"]]},{"id":"8e92ac68.82f2","type":"watson-tone-analyzer-v3","z":"72ba1290.c0ccdc","name":"tone","tones":"all","sentences":"true","contentType":"false","x":620.6191635131836,"y":50.99999809265137,"wires":[["d6b9c105.5359f"]]},{"id":"39dd86dd.78957a","type":"http request","z":"72ba1290.c0ccdc","name":"NLC 2-a","method":"GET","ret":"obj","url":"","tls":"","x":439.52388763427734,"y":273.19043493270874,"wires":[["322cfbbc.9f7a94","5c2b37c0.299828","fb5e68cb.a89ce8"]]},{"id":"51c2e9c1.41f7d8","type":"gmail in Watson","z":"72ba1290.c0ccdc","name":"email in","repeat":"5","x":81.92853546142578,"y":114.46429634094238,"wires":[["832208b1.2812f8","2bfb584b.f46f28"]]},{"id":"7e9008e1.73de38","type":"gmail out Watson","z":"72ba1290.c0ccdc","folderagent":"conseiller","foldertriage":"siege","name":"","x":1257.6428451538086,"y":432.4643020629883,"wires":[]},{"id":"c1f718dd.b0fc18","type":"function","z":"72ba1290.c0ccdc","name":"NLC1","func":"//resend to the classifier the cleaned email body\nvar classifierID = \"be062bx95-nlc-1381\";\nvar url = \"https://gateway.watsonplatform.net/natural-language-classifier/api\";\nvar text = msg.cleanup;\n\n//prepare URL\nmsg.url = encodeURI(url +\"/v1/classifiers/\" \n    + classifierID \n    + \"/classify?text=\"+text);\n\nreturn msg;","outputs":1,"noerr":0,"x":331.42855072021484,"y":201.75000762939453,"wires":[["67bbbeaf.5dbb9"]]},{"id":"67bbbeaf.5dbb9","type":"http request","z":"72ba1290.c0ccdc","name":"NLC1","method":"GET","ret":"obj","url":"","tls":"","x":473.71418380737305,"y":201.34518361091614,"wires":[["22ffbee8.9b3b52","5c2b37c0.299828","fb5e68cb.a89ce8"]]},{"id":"e25d3d7a.6c7d4","type":"function","z":"72ba1290.c0ccdc","name":"NLC3","func":"//identify if other classes and store the top class\nmsg.report.intention[0] = msg.payload.top_class;\nfor(var i=0;i<msg.payload.classes.length;i++){\n    if(msg.payload.classes[i].class_name === msg.payload.top_class){\n        msg.report.confidence[0] = msg.payload.classes[i].confidence;\n    }\n    else if(msg.payload.classes[i].confidence >0.1){\n        msg.report.intention.push(msg.payload.classes[i].class_name);\n        msg.report.confidence.push(msg.payload.classes[i].confidence);\n    }\n}\n\n//resend to the classifier the cleaned email body\nvar text = msg.cleanup;\nvar classifierID = \"340008x87-nlc-2073\";\nvar url = \"https://gateway.watsonplatform.net/natural-language-classifier/api\";\n\n//prepare URL\nmsg.url = encodeURI(url +\"/v1/classifiers/\" \n        +classifierID \n        + \"/classify?text=\"+text);\n\nreturn msg;","outputs":1,"noerr":0,"x":310.2856922149658,"y":318.8929052352905,"wires":[["77e763aa.359e6c"]]},{"id":"77e763aa.359e6c","type":"http request","z":"72ba1290.c0ccdc","name":"NLC3-b","method":"GET","ret":"obj","url":"","tls":"","x":441.1427803039551,"y":318.4880590438843,"wires":[["322cfbbc.9f7a94","5c2b37c0.299828","fb5e68cb.a89ce8"]]},{"id":"eff768ba.aaa2a8","type":"function","z":"72ba1290.c0ccdc","name":"other NLC?","func":"if(msg.report.intention.length > 1){\n    if(msg.report.intention[1] === 'mode_paiement_gestion'){\n        msg.report.decision = \"mode_paiement_gestion\";\n    }\n    else if(msg.report.intention[1] === 'compte_gestion'){\n        msg.report.decision = 'compte_gestion';\n    }\n    else{\n        msg.report.decision = msg.report.intention[0];\n    }\n}\nelse{\n    msg.report.decision = msg.report.intention[0];\n}\nmsg.payload = msg.report;\nreturn msg;","outputs":1,"noerr":0,"x":247.14286422729492,"y":539.4642696380615,"wires":[["600c4c19.50f3e4"]]},{"id":"2bfb584b.f46f28","type":"function","z":"72ba1290.c0ccdc","name":"init","func":"var new_msg = msg;\n\nif((!new_msg.payload)&&(new_msg.html)){\n    new_msg.payload = new_msg.html;\n}\n\nnew_msg.tone = {\n        isalert:\"\",\n        from: new_msg.from,\n        date: new_msg.date,\n        object: new_msg.topic,\n        body:new_msg.payload,\n        score:0\n};\n\nreturn new_msg;","outputs":1,"noerr":0,"x":326.42857551574707,"y":51.74997901916504,"wires":[["1b32b6b2.8865c9"]]},{"id":"d6b9c105.5359f","type":"function","z":"72ba1290.c0ccdc","name":"alert","func":"//alert\nif(msg.response.document_tone.tone_categories[0].tones[0].score>0.4){\n    msg.tone.isalert=\"true\";\n    msg.tone.score = msg.response.document_tone.tone_categories[0].tones[0].score;\n}else{\n    msg.tone.isalert = \"false\";\n}\nmsg.payload=msg.tone;\nreturn msg;","outputs":1,"noerr":0,"x":789.9999923706055,"y":51.17856740951538,"wires":[["81dbf11e.e69bf"]]},{"id":"95b4c08c.df8fc","type":"function","z":"72ba1290.c0ccdc","name":"NLC2","func":"//resend to the classifier the cleaned email body\nvar text = msg.cleanup;\nvar classifierID = \"33ffe6x85-nlc-1147\";\nvar url = \"https://gateway.watsonplatform.net/natural-language-classifier/api\";\n\n//prepare URL\nmsg.url = encodeURI(url +\"/v1/classifiers/\" \n    +classifierID \n    + \"/classify?text=\"+text);\n\nreturn msg;","outputs":1,"noerr":0,"x":107.38102022806811,"y":679.3214270273845,"wires":[["1cdf2465.f2371c"]]},{"id":"1cdf2465.f2371c","type":"http request","z":"72ba1290.c0ccdc","name":"NLC2","method":"GET","ret":"obj","url":"","tls":"","x":225.38094774882006,"y":679.3451272646587,"wires":[["ecf9aab4.0d0308","5c2b37c0.299828","fb5e68cb.a89ce8"]]},{"id":"243dfd45.d1e152","type":"function","z":"72ba1290.c0ccdc","name":"NLC3","func":"//resend to the classifier the cleaned email body\nvar text = msg.cleanup;\nvar classifierID = \"340008x87-nlc-2073\";\nvar url = \"https://gateway.watsonplatform.net/natural-language-classifier/api\";\n\n//prepare URL\nmsg.url = encodeURI(url +\"/v1/classifiers/\" \n        +classifierID \n        + \"/classify?text=\"+text);\n\nreturn msg;","outputs":1,"noerr":0,"x":104.52387301127123,"y":729.3214270273845,"wires":[["2f22f449.71a37c"]]},{"id":"2f22f449.71a37c","type":"http request","z":"72ba1290.c0ccdc","name":"NLC3","method":"GET","ret":"obj","url":"","tls":"","x":225.3809611002605,"y":728.9165808359783,"wires":[["ecf9aab4.0d0308","5c2b37c0.299828","fb5e68cb.a89ce8"]]},{"id":"ecf9aab4.0d0308","type":"function","z":"72ba1290.c0ccdc","name":"final","func":"msg.report.intention[1] = msg.payload.top_class;\nmsg.report.decision = msg.report.intention[0];\nmsg.payload = msg.report;\nreturn msg;","outputs":1,"noerr":0,"x":361.2619934082031,"y":703.1309204101562,"wires":[["600c4c19.50f3e4"]]},{"id":"1b32b6b2.8865c9","type":"watson-translate","z":"72ba1290.c0ccdc","name":"translate","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"3QxBkuWZimgS","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","x":473.1666564941406,"y":51.33333206176758,"wires":[["8e92ac68.82f2"]]},{"id":"81dbf11e.e69bf","type":"switch","z":"72ba1290.c0ccdc","name":"","property":"payload.isalert","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":932.5000190734863,"y":51.00000762939453,"wires":[["5dcd09f1.047608"],[]]},{"id":"5dcd09f1.047608","type":"cloudant out","z":"72ba1290.c0ccdc","name":"reporting tone","cloudant":"","database":"reporting-tone","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1140.833381652832,"y":45.00000190734863,"wires":[]},{"id":"16be9c3d.e88314","type":"http in","z":"72ba1290.c0ccdc","name":"httpIn","url":"/api/v1/tone","method":"get","swaggerDoc":"","x":168,"y":1010,"wires":[["82a0cf9.b56403"]]},{"id":"914ad5c5.5142a8","type":"http response","z":"72ba1290.c0ccdc","name":"httpOut","x":564,"y":1010,"wires":[]},{"id":"9f928444.f24b78","type":"cloudant in","z":"72ba1290.c0ccdc","name":"reporting Tone","cloudant":"","database":"reporting-tone","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":354,"y":1118,"wires":[["cdbee47c.ec77d8"]]},{"id":"cdbee47c.ec77d8","type":"split","z":"72ba1290.c0ccdc","name":"","splt":"","x":522,"y":1118,"wires":[["9bff24d6.0274c8"]]},{"id":"9bff24d6.0274c8","type":"cloudant out","z":"72ba1290.c0ccdc","name":"clear DB","cloudant":"","database":"reporting-tone","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"delete","x":698,"y":1118,"wires":[]},{"id":"1249c67d.b0851a","type":"function","z":"72ba1290.c0ccdc","name":"round","func":"for(var i=0;i<msg.payload.confidence.length;i++){\n    msg.payload.confidence[i] = Math.round(msg.payload.confidence[i]*100)/100;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":839,"wires":[["5ce48bef.506314"]]},{"id":"5c2b37c0.299828","type":"debug","z":"72ba1290.c0ccdc","name":"debug","active":false,"console":"true","complete":"payload","x":831.3333282470703,"y":116.66666984558105,"wires":[]},{"id":"fb5e68cb.a89ce8","type":"debug","z":"72ba1290.c0ccdc","name":"debug","active":false,"console":"true","complete":"report","x":838.3333129882812,"y":188.3333282470703,"wires":[]}]