defaults/flow.json
[{"id":"48ee1a1a.1a7b94","type":"function","z":"e47ddb39.0291c8","name":"init","func":"// we store the email body and title in a global variable\n//global.set('body_email', msg.payload);\n//global.set('title_email',msg.topic);\nmsg.body = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":295.66668701171875,"y":120.66667429606122,"wires":[["5c6d14c7.51bbfc"]]},{"id":"4b4c4a83.cd60e4","type":"function","z":"e47ddb39.0291c8","name":"filter","func":"var top_class = msg.payload.top_class;\nvar classes = msg.payload.classes;\nvar score, class_name;\n\nfor(var i=0;i<classes.length;i++){\n    class_name = classes[i].class_name;\n    if (class_name === top_class){\n        if(classes[i].confidence>0.6){\n            score = classes[i].confidence;\n            break;\n        }\n        else{\n            top_class=\"conseiller\";\n            score = classes[i].confidence;\n            break;\n        }\n    }\n}\nmsg.content = {\n    intention: top_class,\n    confidence: score,\n    date: msg.date,\n    from: msg.from,\n    object: msg.topic,\n    body: msg.body\n};\nmsg.payload=msg.content;\nreturn msg;","outputs":1,"noerr":0,"x":146.5,"y":211.75000190734863,"wires":[["cb273bee.0dae58","2cb0a9ae.06b396"]]},{"id":"5c6d14c7.51bbfc","type":"watson-natural-language-classifier","z":"e47ddb39.0291c8","name":"NLC","mode":"classify","language":"en","classifier":"341774x89-nlc-299","x":446.66668701171875,"y":120.66667429606122,"wires":[["4b4c4a83.cd60e4"]]},{"id":"cb273bee.0dae58","type":"cloudant out","z":"e47ddb39.0291c8","name":"reporting DB","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"insert","x":332.25000381469727,"y":211.50000286102295,"wires":[]},{"id":"2cb0a9ae.06b396","type":"switch","z":"e47ddb39.0291c8","name":"switch 1","property":"payload.confidence","propertyType":"msg","rules":[{"t":"lt","v":"0.6","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":150.25,"y":299.75000381469727,"wires":[["ad8579bb.878438"],["409bd065.16634"]]},{"id":"d5f0df27.94656","type":"template","z":"e47ddb39.0291c8","name":"virement","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Virement","x":583,"y":289,"wires":[["ba994187.c5f46","aa79a94c.5c2208","ceac0cc8.54e07"]]},{"id":"c3a8a011.e55eb","type":"template","z":"e47ddb39.0291c8","name":"rendez-vous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Prise de Rendez-vous","x":592,"y":346,"wires":[["1febebc.98b3214","aa79a94c.5c2208","ceac0cc8.54e07"]]},{"id":"63fbff21.7a1c8","type":"template","z":"e47ddb39.0291c8","name":"seuil CB","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Plafonnement CB","x":583.2500076293945,"y":407.75000524520874,"wires":[["ba994187.c5f46","aa79a94c.5c2208","ceac0cc8.54e07"]]},{"id":"c362aa41.f4d048","type":"template","z":"e47ddb39.0291c8","name":"new CB ou chequier","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"demande nouveau CB ou chequier","x":624.0000076293945,"y":467.5000057220459,"wires":[["1febebc.98b3214","aa79a94c.5c2208","ceac0cc8.54e07"]]},{"id":"c275153b.bff3e8","type":"template","z":"e47ddb39.0291c8","name":"releve de compte","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"relevé de compte","x":614.2500076293945,"y":528.0000066757202,"wires":[["1febebc.98b3214","aa79a94c.5c2208","ceac0cc8.54e07"]]},{"id":"9329d3e3.d1146","type":"template","z":"e47ddb39.0291c8","name":"mise-a-jour profile","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mise-a-jour profile","x":615.5000152587891,"y":585.0000171661377,"wires":[["1febebc.98b3214","aa79a94c.5c2208","ceac0cc8.54e07"]]},{"id":"ad8579bb.878438","type":"template","z":"e47ddb39.0291c8","name":"conseiller","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"conseiller","x":584,"y":240,"wires":[["aa79a94c.5c2208","de9701f7.27bd1"]]},{"id":"409bd065.16634","type":"switch","z":"e47ddb39.0291c8","name":"","property":"payload.intention","propertyType":"msg","rules":[{"t":"eq","v":"conseiller","vt":"str"},{"t":"eq","v":"virement","vt":"str"},{"t":"eq","v":"rendez-vous","vt":"str"},{"t":"eq","v":"deplafonnementCB","vt":"str"},{"t":"eq","v":"nouveauCB_chequier","vt":"str"},{"t":"eq","v":"releve_compte","vt":"str"},{"t":"eq","v":"updateProfile","vt":"str"}],"checkall":"false","outputs":7,"x":319.75000381469727,"y":378.50000762939453,"wires":[["ad8579bb.878438"],["d5f0df27.94656"],["c3a8a011.e55eb"],["63fbff21.7a1c8"],["c362aa41.f4d048"],["c275153b.bff3e8"],["9329d3e3.d1146"]]},{"id":"ba994187.c5f46","type":"function","z":"e47ddb39.0291c8","name":"transfert siege URGENT","func":"if(msg.topic===undefined){\n    msg.topic=\"\";\n}\nmsg.topic = msg.topic + ' --- A traiter IMMEDIATEMENT --- ' + msg.payload;\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":995.166748046875,"y":335.2500305175781,"wires":[["c19e6a56.77bbe8"]]},{"id":"1febebc.98b3214","type":"function","z":"e47ddb39.0291c8","name":"transfert siege","func":"if(msg.topic===undefined){\n    msg.topic=\"\";\n}\nmsg.topic = msg.topic + ' --- A traiter ce jour --- ' + msg.payload;\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":970.75,"y":397.75,"wires":[["c19e6a56.77bbe8"]]},{"id":"aa79a94c.5c2208","type":"debug","z":"e47ddb39.0291c8","name":"debug","active":true,"console":"true","complete":"payload","x":950.416748046875,"y":584.25,"wires":[]},{"id":"c554935a.1666b","type":"http in","z":"e47ddb39.0291c8","name":"httpIn","url":"/reporting","method":"get","swaggerDoc":"","x":137.50000762939453,"y":685.7500095367432,"wires":[["b8e3c943.12f8a8"]]},{"id":"dca55580.85a5d8","type":"http in","z":"e47ddb39.0291c8","name":"httpIn","url":"/api/v1/db","method":"delete","swaggerDoc":"","x":137.50000762939453,"y":765.5000095367432,"wires":[["d55dd690.aac558"]]},{"id":"f2808032.9a04b","type":"cloudant out","z":"e47ddb39.0291c8","name":"clear DB","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"delete","x":656.2500076293945,"y":764.0000095367432,"wires":[]},{"id":"b8e3c943.12f8a8","type":"cloudant in","z":"e47ddb39.0291c8","name":"reporting db","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":310.00000762939453,"y":685.7500095367432,"wires":[["b5421216.77ac1"]]},{"id":"b5421216.77ac1","type":"function","z":"e47ddb39.0291c8","name":"filter","func":"var docs = msg.payload;\nvar counters = {\n    cEmails: 0,\n    cVirement:0,\n    avgVirementConfidence:0,\n    cPriseRDV:0,\n    avgPriseRDVConfidence:0,\n    cSeuilCB:0,\n    avgSeuilCBConfidence:0,\n    cNewCB:0,\n    avgNewCBConfidence:0,\n    cReleveCompte:0,\n    avgReleveCompteConfidence:0,\n    cUpdateProfile:0,\n    avgUpdateProfileConfidence:0,\n    cUndetermined:0,\n    avgUndeterminedConfidence:0\n};\nvar avgVirement=0, avgPriseRDV=0,avgSeuilCB=0, avgNewCB=0, avgReleveCompte=0, avgUpdateProfile=0, avgUndetermined=0;\n\ncounters.cEmails = docs.length;\n\nfor (var i=0;i<docs.length;i++){\n    if(docs[i].intention===\"virement\"){\n        counters.cVirement++;\n        avgVirement=avgVirement+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"rendez-vous\"){\n        counters.cPriseRDV++;\n        avgPriseRDV=avgPriseRDV+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"deplafonnementCB\"){\n        counters.cSeuilCB++;\n        avgSeuilCB=avgSeuilCB+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"nouveauCB_chequier\"){\n        counters.cNewCB++;\n        avgNewCB=avgNewCB+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"releve_compte\"){\n        counters.cReleveCompte++;\n        avgReleveCompte=avgReleveCompte+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"updateProfile\"){\n        counters.cUpdateProfile++;\n        avgUpdateProfile=avgUpdateProfile+docs[i].confidence;\n    }\n    else {\n        counters.cUndetermined++;\n        avgUndetermined=avgUndetermined+docs[i].confidence;\n    }\n}\nif(counters.cVirement !== 0){\n    counters.avgVirementConfidence = (avgVirement/counters.cVirement);\n}\nif(counters.cPriseRDV !== 0){\n    counters.avgPriseRDVConfidence = (avgPriseRDV/counters.cPriseRDV);\n}\nif(counters.cSeuilCB !== 0){\n    counters.avgSeuilCBConfidence = (avgSeuilCB/counters.cSeuilCB);\n}\nif(counters.cNewCB !== 0){\n    counters.avgNewCBConfidence = (avgNewCB/counters.cNewCB);\n}\nif(counters.cReleveCompte !== 0){\n    counters.avgReleveCompteConfidence = (avgReleveCompte/counters.cReleveCompte);\n}\nif(counters.cUpdateProfile!== 0){\n    counters.avgUpdateProfileConfidence = (avgUpdateProfile/counters.cUpdateProfile);\n}\nif(counters.cUndetermined!== 0){\n    counters.avgUndeterminedConfidence = (avgUndetermined/counters.cUndetermined);\n}\n\nmsg.counters = counters;\nreturn msg;","outputs":1,"noerr":0,"x":487.50000762939453,"y":685.0000088214874,"wires":[["ad5057b7.0cad78"]]},{"id":"6ac1bd1.d498f44","type":"split","z":"e47ddb39.0291c8","name":"","splt":"","x":480.00000762939453,"y":764.5000095367432,"wires":[["f2808032.9a04b"]]},{"id":"d55dd690.aac558","type":"cloudant in","z":"e47ddb39.0291c8","name":"reporting db","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":302.50000381469727,"y":764.7500095367432,"wires":[["6ac1bd1.d498f44"]]},{"id":"ad5057b7.0cad78","type":"template","z":"e47ddb39.0291c8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Reporting</title>\n        <meta charset=\"utf-8\" />\n    \t\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    \t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n\n    \t\t<!-- Latest compiled and minified CSS -->\n    \t\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" integrity=\"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7\" crossorigin=\"anonymous\">\n    </head>\n    <body>\n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Compteurs de Volumétrie</span></h2>\n        </div>\n        <div class=\"panel-body\">\n          {{#counters}}\n          <h4># total emails traités : {{cEmails}}</h4>\n        </div>\n        <table class=\"table table-hover\">\n          <thead>\n            <tr>\n              <th></th>\n              <th>Virement</th>\n              <th>Prise de RDV</th>\n              <th>Relevement seuil CB</th>\n              <th>Commande Chéquier ou CB</th>\n              <th>Relevé de Compte</th>\n              <th>Mise-a-jour Profile</th>\n              <th><span style=\"color:blue\"><b>Conseiller</b></span></th>\n            </tr>\n          </thead>\n          <tbody>\n            <tr>\n              <td><b>#emails</b></td>\n              <td>{{cVirement}}</td>\n              <td>{{cPriseRDV}}</td>\n              <td>{{cSeuilCB}}</td>\n              <td>{{cNewCB}}</td>\n              <td>{{cReleveCompte}}</td>\n              <td>{{cUpdateProfile}}</td>\n              <td style=\"color:blue\">{{cUndetermined}}</td>\n            </tr>\n            <tr>\n              <td><b>Confidence Moyenne</b></td>\n              <td>{{avgVirementConfidence}}</td>\n              <td>{{avgPriseRDVConfidence}}</td>\n              <td>{{avgSeuilCBConfidence}}</td>\n              <td>{{avgNewCBConfidence}}</td>\n              <td>{{avgReleveCompteConfidence}}</td>\n              <td>{{avgUpdateProfileConfidence}}</td>\n              <td style=\"color:blue\">{{avgUndeterminedConfidence}}</td>\n            </tr>\n          </tbody>\n        </table>\n        {{/counters}}\n      </div>\n      <br/><br/>\n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Reporting Emails Traités</span></h2>\n        </div>\n        <div class=\"panel-body\"></div>\n          <table class=\"table table-hover\">\n            <thead>\n              <tr>\n                <th class=\"col-md-1\">Date</th>\n                <th class=\"col-md-1\">From</th>\n                <th class=\"col-md-1\">Object</th>\n                <th class=\"col-md-1\">Intention</th>\n                <th class=\"col-md-1\">Confidence</th>\n                <th class=\"col-md-7\">Contenu Email</th>\n              </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr>\n                <td>{{date}}</td>\n                <td>{{from}}</td>\n                <td>{{object}}</td>\n                <td>{{intention}}</td>\n                <td>{{confidence}}</td>\n                <td>{{body}}</td>\n              </tr>\n              {{/payload}}\n            </tbody>\n          </table>\n          <!--<b>{{date}}</b> / De : {{from}} / Sujet : {{intention}} / Score :{{confidence}}<br>\n          <br>-->\n\n      </div>\n      <br/> <br/>\n      <div style=\"margin-left: 10px\">\n          <button type=\"button\" class=\"btn btn-danger\" onclick=\"clearDB()\">Supprimer les données</button>\n      </div>\n    </body>\n    <!-- Latest compiled and minified JavaScript -->\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js\"></script>\n\t<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\" integrity=\"sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS\" crossorigin=\"anonymous\"></script>\n    <script>\n       \n        function clearDB(){\n            var xhr = new XMLHttpRequest();\n            xhr.onreadystatechange = function() {\n                if (xhr.readyState == 4 && xhr.status == 200) {\n                    location.reload();\n                }\n            };\n            xhr.open(\"DELETE\", \"/api/v1/db\",true);\n            xhr.send();\n        }\n        \n    </script>    \n</html>\n","x":645.0000076293945,"y":684.2500085830688,"wires":[["6b29bd8.48fd244"]]},{"id":"6b29bd8.48fd244","type":"http response","z":"e47ddb39.0291c8","name":"httpOut","x":816.2500114440918,"y":684.0000095367432,"wires":[]},{"id":"1e866be6.64c66c","type":"gmail in iBP","z":"e47ddb39.0291c8","name":"Client Input","repeat":"3","x":146.66668701171875,"y":121.00000762939453,"wires":[["48ee1a1a.1a7b94"]]},{"id":"c19e6a56.77bbe8","type":"e-mail","z":"e47ddb39.0291c8","server":"smtp.gmail.com","port":"465","name":"limalicontact@gmail.com","dname":"Output Email Siege","x":1239.250015258789,"y":396.7500042915344,"wires":[]},{"id":"de9701f7.27bd1","type":"gmail iBP","z":"e47ddb39.0291c8","folderagent":"conseiller","foldertriage":"centre triage","name":"","x":1109.1666259765625,"y":239.00000762939453,"wires":[]},{"id":"ceac0cc8.54e07","type":"template","z":"e47ddb39.0291c8","name":"triage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"triage","x":937.5,"y":287.5833435058594,"wires":[["de9701f7.27bd1"]]}]
