defaults/flow.json
[{"id":"17974f12.9d25d1","type":"function","z":"bf80d887.b86088","name":"init","func":"msg.body = msg.payload; // for reporting\n\n//handle cases where content is html or if content email is > 1024 characters\nif(!msg.payload){\n    if(msg.html) msg.payload = msg.html;\n    else msg.payload= \"conseiller\";\n}\nif(msg.payload.length >1024){msg.payload=\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":244,"wires":[["c9996caf.3bd8d"]]},{"id":"a84b6919.631d98","type":"function","z":"bf80d887.b86088","name":"filter","func":"var top_class = msg.payload.top_class;\nvar classes = msg.payload.classes;\nvar score, class_name;\n\nfor(var i=0;i<classes.length;i++){\n    class_name = classes[i].class_name;\n    if (class_name === top_class){\n        if(classes[i].confidence>0.6){\n            score = classes[i].confidence;\n            break;\n        }\n        else{\n            top_class=\"conseiller\";\n            score = classes[i].confidence;\n            break;\n        }\n    }\n}\nmsg.content = {\n    intention: top_class,\n    confidence: score,\n    date: msg.date,\n    from: msg.from,\n    object: msg.topic,\n    body: msg.body\n};\nmsg.payload=msg.content;\nreturn msg;","outputs":1,"noerr":0,"x":321.83331298828125,"y":335.0833276112874,"wires":[["7be703e7.64bf1c","3950268e.1726ca"]]},{"id":"78a90ad.99eecf4","type":"watson-natural-language-classifier","z":"bf80d887.b86088","name":"classifier","mode":"classify","language":"en","classifier":"341774x89-nlc-299","x":776,"y":244.99999745686847,"wires":[["a84b6919.631d98"]]},{"id":"7be703e7.64bf1c","type":"cloudant out","z":"bf80d887.b86088","name":"reporting DB","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"insert","x":507.5833168029785,"y":334.83332856496173,"wires":[]},{"id":"3950268e.1726ca","type":"switch","z":"bf80d887.b86088","name":"switch 1","property":"payload.confidence","propertyType":"msg","rules":[{"t":"lt","v":"0.6","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":325.58331298828125,"y":423.08332951863605,"wires":[["3aa00e6c.039c02"],["c8e74b6f.00dc38"]]},{"id":"6020a74b.a65c28","type":"template","z":"bf80d887.b86088","name":"virement","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Virement","x":758.3333129882812,"y":412.3333257039388,"wires":[["860f2838.611778","ba1a10b8.46229","dee0c924.db8028"]]},{"id":"8f0c02b5.9b874","type":"template","z":"bf80d887.b86088","name":"rendez-vous","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Prise de Rendez-vous","x":767.3333129882812,"y":469.3333257039388,"wires":[["5bafbcbb.e6b1d4","ba1a10b8.46229","dee0c924.db8028"]]},{"id":"d3381730.016658","type":"template","z":"bf80d887.b86088","name":"seuil CB","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Plafonnement CB","x":758.5833206176758,"y":531.0833309491475,"wires":[["860f2838.611778","ba1a10b8.46229","dee0c924.db8028"]]},{"id":"591d8b27.bb3e44","type":"template","z":"bf80d887.b86088","name":"new CB ou chequier","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"demande nouveau CB ou chequier","x":799.3333206176758,"y":590.8333314259846,"wires":[["5bafbcbb.e6b1d4","ba1a10b8.46229","dee0c924.db8028"]]},{"id":"4b7b5c9a.c88ae4","type":"template","z":"bf80d887.b86088","name":"releve de compte","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"relevé de compte","x":789.5833206176758,"y":651.3333323796589,"wires":[["5bafbcbb.e6b1d4","ba1a10b8.46229","dee0c924.db8028"]]},{"id":"6bdbe138.93ddb","type":"template","z":"bf80d887.b86088","name":"mise-a-jour profile","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mise-a-jour profile","x":790.8333282470703,"y":708.3333428700764,"wires":[["5bafbcbb.e6b1d4","ba1a10b8.46229","dee0c924.db8028"]]},{"id":"3aa00e6c.039c02","type":"template","z":"bf80d887.b86088","name":"conseiller","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"conseiller","x":759.3333129882812,"y":363.3333257039388,"wires":[["ba1a10b8.46229","f76498e2.e7c1f8"]]},{"id":"c8e74b6f.00dc38","type":"switch","z":"bf80d887.b86088","name":"switch 2","property":"payload.intention","propertyType":"msg","rules":[{"t":"eq","v":"conseiller","vt":"str"},{"t":"eq","v":"virement","vt":"str"},{"t":"eq","v":"rendez-vous","vt":"str"},{"t":"eq","v":"deplafonnementCB","vt":"str"},{"t":"eq","v":"nouveauCB_chequier","vt":"str"},{"t":"eq","v":"releve_compte","vt":"str"},{"t":"eq","v":"updateProfile","vt":"str"}],"checkall":"false","outputs":7,"x":505.0833168029785,"y":501.8333333333333,"wires":[["3aa00e6c.039c02"],["6020a74b.a65c28"],["8f0c02b5.9b874"],["d3381730.016658"],["591d8b27.bb3e44"],["4b7b5c9a.c88ae4"],["6bdbe138.93ddb"]]},{"id":"860f2838.611778","type":"function","z":"bf80d887.b86088","name":"transfert siege URGENT","func":"if(msg.topic===undefined){\n    msg.topic=\"\";\n}\nmsg.topic = msg.topic + ' --- A traiter IMMEDIATEMENT --- ' + msg.payload;\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":1170.5000610351562,"y":458.5833562215169,"wires":[["8cc65cdf.65221"]]},{"id":"5bafbcbb.e6b1d4","type":"function","z":"bf80d887.b86088","name":"transfert siege","func":"if(msg.topic===undefined){\n    msg.topic=\"\";\n}\nmsg.topic = msg.topic + ' --- A traiter ce jour --- ' + msg.payload;\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":1146.0833129882812,"y":521.0833257039387,"wires":[["8cc65cdf.65221"]]},{"id":"ba1a10b8.46229","type":"debug","z":"bf80d887.b86088","name":"debug","active":true,"console":"true","complete":"payload","x":1125.7500610351562,"y":707.5833257039387,"wires":[]},{"id":"d1cdf9b.5a65b08","type":"http in","z":"bf80d887.b86088","name":"httpIn","url":"/reporting","method":"get","swaggerDoc":"","x":312.8333206176758,"y":809.0833352406819,"wires":[["4b3727b2.c7e228"]]},{"id":"984eb588.c71de8","type":"http in","z":"bf80d887.b86088","name":"httpIn","url":"/api/v1/db","method":"delete","swaggerDoc":"","x":312.8333206176758,"y":888.8333352406819,"wires":[["8bc78f86.6772c"]]},{"id":"c5259b71.dc4808","type":"cloudant out","z":"bf80d887.b86088","name":"clear DB","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","payonly":true,"operation":"delete","x":831.5833206176758,"y":887.3333352406819,"wires":[]},{"id":"4b3727b2.c7e228","type":"cloudant in","z":"bf80d887.b86088","name":"reporting db","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":485.3333206176758,"y":809.0833352406819,"wires":[["38956b65.ef0284"]]},{"id":"38956b65.ef0284","type":"function","z":"bf80d887.b86088","name":"filter","func":"var docs = msg.payload;\nvar counters = {\n    cEmails: 0,\n    cVirement:0,\n    avgVirementConfidence:0,\n    cPriseRDV:0,\n    avgPriseRDVConfidence:0,\n    cSeuilCB:0,\n    avgSeuilCBConfidence:0,\n    cNewCB:0,\n    avgNewCBConfidence:0,\n    cReleveCompte:0,\n    avgReleveCompteConfidence:0,\n    cUpdateProfile:0,\n    avgUpdateProfileConfidence:0,\n    cUndetermined:0,\n    avgUndeterminedConfidence:0\n};\nvar avgVirement=0, avgPriseRDV=0,avgSeuilCB=0, avgNewCB=0, avgReleveCompte=0, avgUpdateProfile=0, avgUndetermined=0;\n\ncounters.cEmails = docs.length;\n\nfor (var i=0;i<docs.length;i++){\n    if(docs[i].intention===\"virement\"){\n        counters.cVirement++;\n        avgVirement=avgVirement+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"rendez-vous\"){\n        counters.cPriseRDV++;\n        avgPriseRDV=avgPriseRDV+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"deplafonnementCB\"){\n        counters.cSeuilCB++;\n        avgSeuilCB=avgSeuilCB+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"nouveauCB_chequier\"){\n        counters.cNewCB++;\n        avgNewCB=avgNewCB+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"releve_compte\"){\n        counters.cReleveCompte++;\n        avgReleveCompte=avgReleveCompte+docs[i].confidence;\n    }\n    else if(docs[i].intention===\"updateProfile\"){\n        counters.cUpdateProfile++;\n        avgUpdateProfile=avgUpdateProfile+docs[i].confidence;\n    }\n    else {\n        counters.cUndetermined++;\n        avgUndetermined=avgUndetermined+docs[i].confidence;\n    }\n}\nif(counters.cVirement !== 0){\n    counters.avgVirementConfidence = (avgVirement/counters.cVirement);\n}\nif(counters.cPriseRDV !== 0){\n    counters.avgPriseRDVConfidence = (avgPriseRDV/counters.cPriseRDV);\n}\nif(counters.cSeuilCB !== 0){\n    counters.avgSeuilCBConfidence = (avgSeuilCB/counters.cSeuilCB);\n}\nif(counters.cNewCB !== 0){\n    counters.avgNewCBConfidence = (avgNewCB/counters.cNewCB);\n}\nif(counters.cReleveCompte !== 0){\n    counters.avgReleveCompteConfidence = (avgReleveCompte/counters.cReleveCompte);\n}\nif(counters.cUpdateProfile!== 0){\n    counters.avgUpdateProfileConfidence = (avgUpdateProfile/counters.cUpdateProfile);\n}\nif(counters.cUndetermined!== 0){\n    counters.avgUndeterminedConfidence = (avgUndetermined/counters.cUndetermined);\n}\n\nmsg.counters = counters;\nreturn msg;","outputs":1,"noerr":0,"x":662.8333206176758,"y":808.3333345254262,"wires":[["ddadd6d2.a9a8b8"]]},{"id":"34d60aa.5b825f6","type":"split","z":"bf80d887.b86088","name":"","splt":"","x":655.3333206176758,"y":887.8333352406819,"wires":[["c5259b71.dc4808"]]},{"id":"8bc78f86.6772c","type":"cloudant in","z":"bf80d887.b86088","name":"reporting db","cloudant":"","database":"reporting-nlc","service":"ea-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":477.8333168029785,"y":888.0833352406819,"wires":[["34d60aa.5b825f6"]]},{"id":"ddadd6d2.a9a8b8","type":"template","z":"bf80d887.b86088","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Reporting</title>\n        <meta charset=\"utf-8\" />\n    \t\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    \t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n\n    \t\t<!-- Latest compiled and minified CSS -->\n    \t\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" integrity=\"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7\" crossorigin=\"anonymous\">\n    </head>\n    <body>\n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Compteurs de Volumétrie</span></h2>\n        </div>\n        <div class=\"panel-body\">\n          {{#counters}}\n          <h4># total emails traités : {{cEmails}}</h4>\n        </div>\n        <table class=\"table table-hover\">\n          <thead>\n            <tr>\n              <th></th>\n              <th>Virement</th>\n              <th>Prise de RDV</th>\n              <th>Relevement seuil CB</th>\n              <th>Commande Chéquier ou CB</th>\n              <th>Relevé de Compte</th>\n              <th>Mise-a-jour Profile</th>\n              <th><span style=\"color:blue\"><b>Conseiller</b></span></th>\n            </tr>\n          </thead>\n          <tbody>\n            <tr>\n              <td><b>#emails</b></td>\n              <td>{{cVirement}}</td>\n              <td>{{cPriseRDV}}</td>\n              <td>{{cSeuilCB}}</td>\n              <td>{{cNewCB}}</td>\n              <td>{{cReleveCompte}}</td>\n              <td>{{cUpdateProfile}}</td>\n              <td style=\"color:blue\">{{cUndetermined}}</td>\n            </tr>\n            <tr>\n              <td><b>Confidence Moyenne</b></td>\n              <td>{{avgVirementConfidence}}</td>\n              <td>{{avgPriseRDVConfidence}}</td>\n              <td>{{avgSeuilCBConfidence}}</td>\n              <td>{{avgNewCBConfidence}}</td>\n              <td>{{avgReleveCompteConfidence}}</td>\n              <td>{{avgUpdateProfileConfidence}}</td>\n              <td style=\"color:blue\">{{avgUndeterminedConfidence}}</td>\n            </tr>\n          </tbody>\n        </table>\n        {{/counters}}\n      </div>\n      <br/><br/>\n      <div class=\"panel panel-default\">\n        <div class=\"panel-heading\">\n          <h2><span class=\"label label-success\">Reporting Emails Traités</span></h2>\n        </div>\n        <div class=\"panel-body\"></div>\n          <table class=\"table table-hover\">\n            <thead>\n              <tr>\n                <th class=\"col-md-1\">Date</th>\n                <th class=\"col-md-1\">From</th>\n                <th class=\"col-md-1\">Object</th>\n                <th class=\"col-md-1\">Intention</th>\n                <th class=\"col-md-1\">Confidence</th>\n                <th class=\"col-md-7\">Contenu Email</th>\n              </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr>\n                <td>{{date}}</td>\n                <td>{{from}}</td>\n                <td>{{object}}</td>\n                <td>{{intention}}</td>\n                <td>{{confidence}}</td>\n                <td>{{body}}</td>\n              </tr>\n              {{/payload}}\n            </tbody>\n          </table>\n          <!--<b>{{date}}</b> / De : {{from}} / Sujet : {{intention}} / Score :{{confidence}}<br>\n          <br>-->\n\n      </div>\n      <br/> <br/>\n      <div style=\"margin-left: 10px\">\n          <button type=\"button\" class=\"btn btn-danger\" onclick=\"clearDB()\">Supprimer les données</button>\n      </div>\n    </body>\n    <!-- Latest compiled and minified JavaScript -->\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js\"></script>\n\t<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\" integrity=\"sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS\" crossorigin=\"anonymous\"></script>\n    <script>\n       \n        function clearDB(){\n            var xhr = new XMLHttpRequest();\n            xhr.onreadystatechange = function() {\n                if (xhr.readyState == 4 && xhr.status == 200) {\n                    location.reload();\n                }\n            };\n            xhr.open(\"DELETE\", \"/api/v1/db\",true);\n            xhr.send();\n        }\n        \n    </script>    \n</html>\n","x":820.3333206176758,"y":807.5833342870076,"wires":[["1c4093e8.719bbc"]]},{"id":"1c4093e8.719bbc","type":"http response","z":"bf80d887.b86088","name":"httpOut","x":991.583324432373,"y":807.3333352406819,"wires":[]},{"id":"8cc65cdf.65221","type":"e-mail","z":"bf80d887.b86088","server":"smtp.gmail.com","port":"465","name":"limalicontact@gmail.com","dname":"Output Email Siege","x":1414.5833282470703,"y":520.0833299954732,"wires":[]},{"id":"dee0c924.db8028","type":"template","z":"bf80d887.b86088","name":"triage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"triage","x":1112.8333129882812,"y":410.91666920979816,"wires":[["f76498e2.e7c1f8"]]},{"id":"c9996caf.3bd8d","type":"switch","z":"bf80d887.b86088","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"conseiller","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":614.3333129882812,"y":244.33332570393878,"wires":[["3aa00e6c.039c02"],["78a90ad.99eecf4"]]},{"id":"51380719.3098b8","type":"gmail in Watson","z":"bf80d887.b86088","name":"","repeat":"3","x":279,"y":244,"wires":[["17974f12.9d25d1"]]},{"id":"f76498e2.e7c1f8","type":"gmail out Watson","z":"bf80d887.b86088","folderagent":"conseiller","foldertriage":"siege","name":"","x":1341,"y":360,"wires":[]}]
